main {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 100dvh;
  width: 100dvw;
  display: grid;
  grid-template-rows: 2em calc(100dvh - 2em);
}
header {
  width: 100%;
  display: flex;
}
header * {
  height: 100%;
}
.desk {
  display: flex;
}
.chat {
  flex-grow: 1;
  min-width: 33dvw;
  background-color: white;
}
.chat form {
  display: flex;
}
.chat input {
  flex-grow: 1;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(1);
  color: limegreen;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: x-small;
  font-weight: bolder;
  white-space: pre-wrap;
  font-family: monospace;
}
.videos {
  flex-grow: 1;
  overflow: hidden;
  background-color: black;
  display: grid;
  height: 100%;
  width: 100%;
}
.screen-share {
  flex-grow: 1;
  min-width: 50dvw;
}
.video-container {
  position: relative;
  overflow: hidden;
}
video {
  background-color: black;
  width: 100%;
  height: 100%;
}
video.self {
  transform: scaleX(-1);
}
.circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 5px;
  display: inline-block;
  display: none;
}
.img-button {
  top: 0;
  height: 100%;
}
.auth-button {
  padding: 0 1em;
  margin: 0;
  border: none;
}
.auth-input {
  flex-grow: 1;
  padding: 0 1em;
  margin: 0;
  border: none;
}